*{
	width: 90%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}
h1{
	width: 100px;
	padding:30px;
}
.btn{

	margin: 200px 30px 10px 250px;
	padding: 80px 50px;
	background: linear-gradient(#03a9f4, #01579b);
	background: -moz-linear-gradient(#03a9f4, #01579b);
	background: -webkit-linear-gradient(#03a9f4, #01579b);
	color: #FFFFFF;
	float: left;
	cursor: pointer;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
}