*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
h1{

	padding:30px 50px 10px 600px;
}
.card{
	width: 60%;
	height:auto;
	margin: 100px 30px 40px 290px;
	background-color: #FFFFFF;
	border: solid thin #DDDDDD;
	box-shadow: 0 0 6px #999999;
	float: left;
}
.card .card-title{
	font-size: 30px;
	font-weight: normal;
	color: #FF6D00;
}
.card .card-content{
	padding: 15px;
	font-size: 14px;
	line-height: 1.6;
}